<%= render "shared/header" %>

<div class='search_page'>
  <div class='user-contents' id="detailed-search-result-wrapper">
    <div class="search_page_title">
      <h3><%= current_user.user_name %>さんの情報</h3>
    </div>
    <div class="weight-bold-text">
      ユーザーネーム
    </div>
      <p><%= current_user.user_name %></p>
    <div class="weight-bold-text">
      メールアドレス
    </div>
      <p><%= current_user.email %></p>
    <div class="sell-btn-contents">
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "search-btn" %>
    </div>
  </div>

  <div class='user-post'>
    <div class='post-colmn'>
      <h3 class='post-category'>あなたの投稿</h3>
      <% @posts.each do |post| %>
        <li class='post-list'>
          <%= link_to post_path(post.id) do %>
          <div class='post-info'>
            <h3 class='post-title'>
              <%= post.title%>
            </h3>
          </div>
          <div id="like-btn<%= post.id %>">
            <%= render partial: "likes/like", locals: { post: post } %>
          </div>
            <p class='post-detail'>
              <%= post.detail.length > 50 ? post.detail.slice(0, 50) + '...' : post.detail %>
            </p>
          <% end %>
        </li>
      <% end %>
    </div>
    <div class='post-colmn'>
      <h3 class='post-category'>あなたがコメントした投稿</h3>
      <% @comment_posts.each do |post| %>
        <li class='post-list'>
          <%= link_to post_path(post.id) do %>
          <div class='post-info'>
            <h3 class='post-title'>
              <%= post.title%>
            </h3>
          </div>
          <div id="like-btn<%= post.id %>">
            <%= render partial: "likes/like", locals: { post: post } %>
          </div>
            <p class='post-detail'>
              <%= post.detail.length > 50 ? post.detail.slice(0, 50) + '...' : post.detail %>
            </p>
          <% end %>
        </li>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>