<%= render "shared/header" %>
  <div class='main'>
    <div class='intro'>
      <h1 class='service-title'>
        GAIT POST
      </h1>
      <h2 class='service-subtitle'>
        ～歩行に特化したコミュニケーションツール～
      </h1>
      <p class='service-explain'>
        新人理学療法士の皆さん、学生の皆さん、<br>
        歩行の分析や評価、治療で困ったことはありませんか？<br>
      </p>
      <p class='service-explain'>
        GAIT POSTは、歩行に関する情報を投稿、共有し、<br>
        あなたの明日からの診療や学習を充実させるためのツールです。
      </p>
      <div class = 'index-btn'>
        <%= link_to 'さっそく検索してみよう！', search_post_posts_path, class: 'index_search_post index_search_post--blue index_search_post--cubic index_new_post--shadow' %>
      </div>
      <% if user_signed_in? %>
        <div class = 'index-btn'>
          <%= link_to '投稿をしてみよう！', new_post_path, class: 'index_new_post index_new_post--blue index_new_post--cubic index_new_post--shadow' %>
        </div>
      <% else %>
        <div class = 'index-btn'>
          <%= link_to 'ユーザー登録（無料）でもっと便利に！', new_user_registration_path, class: 'index_new_user index_new_user--blue index_new_user--cubic index_new_user--shadow' %>
        </div>
        <div class = 'index-btn'>
          <%= link_to 'ログインはこちら', new_user_session_path, class: 'index_new_user index_new_user--blue index_new_user--cubic index_new_user--shadow' %>
        </div>
      <% end %>
    </div>
    <div class='post'>
      <div class='post-colmn'>
        <h3><%= link_to '新しい投稿', search_post_posts_path, class: 'post-category' %></h3>
        <% @posts.each do |post| %>
          <li class='post-list'>
            <%= link_to post_path(post.id) do %>
            <div class='post-info'>
              <h3 class='post-title'>
                <%= post.title%>
              </h3>
            <div id="like-btn<%= post.id %>">
              <%= render partial: "likes/like", locals: { post: post } %>
            </div>
              <p class='post-detail'>
                <%= post.detail.length > 40 ? post.detail.slice(0, 40) + '...' : post.detail %>
              </p>
            <% end %>
          </li>
        <% end %>
      </div>
      <div class='post-colmn'>
        <% if user_signed_in? %>
          <h3><%= link_to 'あなたが最近いいねした投稿', liked_post_posts_path, class: 'post-category' %></h3>
          <% @like_posts.each do |post| %>
            <li class='post-list'>
              <%= link_to post_path(post.id) do %>
              <div class='post-info'>
                <h3 class='post-title'>
                  <%= post.title%>
                </h3>
              <div id="like-btn<%= post.id %>">
                <%= render partial: "likes/like", locals: { post: post } %>
              </div>
                <p class='post-detail'>
                  <%= post.detail.length > 40 ? post.detail.slice(0, 40) + '...' : post.detail %>
                </p>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </div>
      <div class='post-colmn'>
        <% if user_signed_in? %>
          <h3><%= link_to '最近コメントされた投稿', commented_post_posts_path, class: 'post-category' %></h3>
          <% @comment_posts.each do |post| %>
            <li class='post-list'>
              <%= link_to post_path(post.id) do %>
              <div class='post-info'>
                <h3 class='post-title'>
                  <%= post.title%>
                </h3>
              <div id="like-btn<%= post.id %>">
                <%= render partial: "likes/like", locals: { post: post } %>
              </div>
                <p class='post-detail'>
                  <%= post.detail.length > 40 ? post.detail.slice(0, 40) + '...' : post.detail %>
                </p>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<%= render "shared/footer" %>