<%= render "shared/header" %>
<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= form_with url: search_post_posts_path, method: :get, html: { id: "detailed-search-form" } do |f| %>
    <div class="search-field">
      <%= f.label :title, 'タイトル' %>
      <br>
      <%= f.text_field :title, placeholder: 'タイトル', value: params[:q]&.dig(:title) %>
    </div>
    <div class="search-field">
      <%= f.label :detail, '内容' %>
      <br>
      <%= f.text_field :detail, placeholder: '内容', value: params[:q]&.dig(:detail) %>
    </div>
    <div class="search-field">
      <%= f.label :walkcycle_id_in, '歩行周期' %>
      <br>
      <%= f.collection_check_boxes(:walkcycle_id_in, Walkcycle.all, :id, :name) %>
    </div>
    <div class="search-field">
      <%= f.label :joint_id_in, '関連関節' %>
      <br>
      <%= f.collection_check_boxes(:joint_id_in, Joint.all, :id, :name) %>
    </div>



      <div class="weight-bold-text">
        タグ(,で区切ると複数登録できます)
      </div>
        <%= f.text_field :tag_name, placeholder: 'タグ', id: "post_form_tag_name", class:"title-box" %>
        <div id="search-result"></div>


    <%= f.submit '検索' %>
  <% end %>
  <ul class='item-lists' id="detailed-search-result">
      <% @posts.each do |post| %>
        <li class='post-list'>
          <%= link_to post_path(post.id) do %>
          <div class='post-info'>
            <h3 class='post-title'>
              <%= post.title%>
            </h3>
          <div id="like-btn<%= post.id %>">
            <%= render partial: "likes/like", locals: { post: post } %>
          </div>
            <p class='post-detail'>
              <%= post.detail.length > 40 ? post.detail.slice(0, 40) + '...' : post.detail %>
            </p>
          <% end %>
        </li>
      <% end %>
  </ul>
</div>