<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.user_name %>
        </tr>
        <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @post.title %>
        </tr>
        <tr>
          <th class="detail-item">詳細</th>
          <td class="detail-value"><%= @post.detail %>
        </tr>
        <tr>
          <th class="detail-item">文献</th>
          <td class="detail-value"><%= @post.literature %>
        </tr>
        <tr>
          <th class="detail-item">歩行周期</th>
          <td class="detail-value"><%= @post.walkcycle.name %>
        </tr>
        <tr>
          <th class="detail-item">関連関節</th>
          <td class="detail-value"><%= @post.joint.name %>
        </tr>
        <tr>
          <th class="detail-item">タグ</th>
          <td class="detail-value"><%= @post.tags.first.tag_name if @post.tags.first.present? %></td>
        </tr>
      </tbody>
    </table>

    <div id="comments">
      <h4>＜コメント一覧＞</h4>
        <% @post.comments.each do |comment| %>
          <div class="comment">
            <p class="user-info"><%= comment.user.user_name %>： </p>
            <p><%= comment.text%></p>
          </div>
        <% end %>
    </div>

    <div class="comment-form">
      <% if user_signed_in? %>
        <h4 class="comment-form-index">＜コメントを投稿する＞</h4>
        <%= form_with model: [@post, @comment], id: "comment-form" do |f| %>
          <%= f.text_area :text , placeholder: "こちらにコメントを入力してください", class:"comment-box"%>
          <%= f.submit "コメントをする", class: "comment-submit" %>
        <% end %>
      <% end %>
    </div>

    <% if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to "投稿の編集", edit_post_path, method: :get, class: "item-blue-btn" %>
      <p class="or-text">or</p>
      <%= link_to "投稿の削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>