<%= render "shared/header" %>

<div class="post-show">
  <div class="post-box">
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @post.user.user_name %>
        </tr>
        <tr>
          <th class="detail-item">タイトル</th>
          <td class="detail-value"><%= @post.title %>
        </tr>
        <tr>
          <th class="detail-item">詳細</th>
          <td class="detail-value"><%= @post.detail %>
        </tr>
        <tr>
          <th class="detail-item">文献</th>
          <td class="detail-value"><%= @post.literature %>
        </tr>
        <tr>
          <th class="detail-item">歩行周期</th>
          <td class="detail-value"><%= @post.walkcycle.name %>
        </tr>
      </tbody>
    </table>
    <% if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to "投稿の編集", edit_post_path, method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "投稿の削除", post_path(@post.id), method: :delete, class:"item-destroy" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>